body{
    margin: 0 auto;
    font-family: 'Montserrat';
}
.header{
    padding: 32px 0;
}
.navigation{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.nav_list{
    padding: 0;
}
.nav_item{
    display: inline;
    list-style-type: none;
    margin-right: 72px;
}
.nav_link{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-transform: uppercase;
}
.image{
    width: 100%;
    height: auto;
}
.text_container{
    background: rgba(0, 0, 0, 0.0001);
    text-align: center;
}
.title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* text-align: center; */
    padding-top: 48px;
    padding-bottom: 38px;
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* text-align: center; */
    letter-spacing: 2.4px;
    padding-right: 67.5px;
    padding-left: 67.5px;
}
.lorem{
    padding-bottom: 28px;
}
.get_started{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 66px auto;
    width: 191px;
    height: 51px;
    background: rgba(255, 0, 0, 1);
    border-radius: 4px;
}
.link_get_started{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
}
.footer{
    display: flex;
    justify-content: right;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    padding-right: 105px;
    padding-bottom: 29px;
}
